body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
  }
  
  header {
	background-color: #3f51b5;
	color: white;
	padding: 10px 0;
	text-align: center;
  }
  
  nav ul {
	list-style: none;
	padding: 0;
  }
  
  nav ul li {
	display: inline;
	margin: 0 10px;
  }
  
  nav ul li a {
	color: white;
	text-decoration: none;
  }
  
  main {
	flex: 1;
	padding: 20px;
  }
  
  .page {
	display: none;
  }
  
  footer {
	background-color: #3f51b5;
	color: white;
	text-align: center;
	padding: 10px 0;
  }
  
  #game-container {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  #game {
	position: relative;
	width: 600px;
	height: 400px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	background: url('images/62408-https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fsfondo.info%2Fi%2Foriginal%2F1%2Fa%2Fa%2F62408.jpg&f=1&nofb=1&ipt=babc773ad23f34a1fec01e9dcbde2c4fc2948bd33e411d4729af76f0db4c6a93&ipo=images.jpeg') no-repeat center center;
	background-size: cover;
  }
  
  .noise-object {
	position: absolute;
	width: 50px;
	height: 50px;
	background: url('https://example.com/path/to/noise-icon.png') no-repeat center center;
	background-size: contain;
	cursor: pointer;
  }
  
  #game-info {
	text-align: center;
  }
  